<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharry.lib.album">

    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.sharry.lib.album.PickerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/PickerTheme" />
        <activity
            android:name="com.sharry.lib.album.WatcherActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WatcherTheme" />
        <activity
            android:name="com.sharry.lib.album.TakerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharry.lib.album.VideoPlayerActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>